@model SchedBot.Areas.Management.Models.UserEditViewModel
<div class="modal fade" id="updateRolesModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        @using (Html.BeginForm("SaveRoles", "Users"))
        {
            @Html.HiddenFor(model => model.user.UserId)
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>*@
                    <h4 class="modal-title" id="updateRolesHeader">Update Roles</h4>
                </div>
                <div class="modal-body">

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @{
                                    bool hasmatch = false;
                                    foreach (var item in Model.jobRoles)
                                    {
                                        <div class="col-md-7">
                                            @Html.Label(item.Name)
                                        </div>
                                        <div class="col-md-2">
                                            @foreach (var uj in Model.user_jobRoles)
                                            {
                                                if (item.JobRoleId == uj.JobRoleId)
                                                {
                                                    hasmatch = true;
                                                    @Html.CheckBox(item.JobRoleId.ToString(), true)
                                                    break;
                                                }


                                            }
                                            @if (!hasmatch)
                                            {
                                                @Html.CheckBox(item.JobRoleId.ToString(), false)
                                            }
                                            @* <input type="checkbox" name="@item.JobRoleId" class="margin-top-15" />*@
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success pull-right" value="Update Roles" />
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" style="margin-right: 15px;">Cancel</button>
                </div>
            </div>
                                    }

    </div>
</div>
