@using Microsoft.AspNet.Identity

@{
    var userName = User.Identity.GetUserName();
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}


<!DOCTYPE html>


<html lang="en">


<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="~/Scripts/TimePicker/themes/default.css" id="theme_base">
    <link rel="stylesheet" href="~/Scripts/TimePicker/themes/default.time.css" id="theme_time">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert2.css">
    <script src="~/Scripts/customApp.js"></script>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-md">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
            <div class="page-logo">
                <a href="@Url.Action("Index","Home", new { area = "" })">
                    <img src="@Url.Content("~/Content/images/SchedBot_Logo2.png")" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                </div>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <div class="page-top">
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-bell"></i>
                                <span class="badge badge-default"> 2 </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="external">
                                    <h3>
                                        <span class="bold">2 pending</span> notifications
                                    </h3>
                                    <a href="#">view all</a>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                        <li>
                                            <a href="javascript:;">
                                                <span class="time">just now</span>
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-success">
                                                        <i class="fa fa-plus"></i>
                                                    </span> New employee added.
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="time">3 mins</span>
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-danger">
                                                        <i class="fa fa-exchange"></i>
                                                    </span> New trade request.
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-extended dropdown-quicklinks" id="header_notification_bar">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-link"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="external">
                                    <h3>
                                        <span class="bold">Quick Links</span> 
                                    </h3>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                        <li>
                                            <a id="addEmployeeQuickLink" name="addEmployeeQuickLink" href="javascript:;">
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-success">
                                                        <i class="icon-user"></i> 
                                                    </span> Add Employee
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" id="addShiftQuickLink" name="addShiftQuickLink">
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-success">
                                                        <i class="icon-calendar"></i> 
                                                    </span> Add Shift
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" id="addRoleQuickLink" name="addRoleQuickLink">
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-success">
                                                        <i class="fa fa-briefcase"></i> 
                                                    </span> Add Role
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" id="addRoleQuickLink" name="addRoleQuickLink">
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-success">
                                                        <i class="icon-calendar"></i> 
                                                    </span> Add and Assign Shift
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile"> @userName </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="#">
                                        <i class="icon-user"></i> My Profile
                                    </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    @using (Html.BeginForm("LogOff", "Account", new { Area = "" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <input type="submit" value="Log out" class="btn btn-link hidden" hidden id="logOutSubmit" />

                                    }

                                    <a id="logOutBtn">Log Out</a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="@(ViewBag.Current == "Dashboard" ? "nav-item active open" : "nav-item") ">
                        <a href="@Url.Action("Index", "Home", new { area = "" })" class="nav-link nav-toggle">
                            <i class="icon-home"></i>
                            <span class="title">Dashboard</span>
                            @if (ViewBag.Current == "Dashboard")
                            {
                                <span class="selected"></span>
                            }
                            <span class="@(ViewBag.Current == "Dashboard" ? "arrow open" : "arrow")"></span>
                        </a>
                    </li>
                    <li class="@(ViewBag.Current == "Schedules" ? "nav-item active open" : "nav-item") ">
                        <a href="@Url.Action("Index", "Schedules", new { area = "Management" })" class="nav-link nav-toggle">
                            <i class="icon-calendar"></i>
                            <span class="title">Schedules</span>
                            @if (ViewBag.Current == "Schedules")
                            {
                                <span class="selected"></span>
                            }
                            <span class="@(ViewBag.Current == "Schedules" ? "arrow open" : "arrow")"></span>
                        </a>
                    </li>
                    <li class="@(ViewBag.Current == "Shifts" ? "nav-item active open" : "nav-item") ">
                        <a href="@Url.Action("Index", "Shifts", new { area = "Management" })" class="nav-link nav-toggle">
                            <i class="fa fa-list-alt"></i>
                            <span class="title">Shifts</span>
                            @if (ViewBag.Current == "Shifts")
                            {
                                <span class="selected"></span>
                            }
                            <span class="@(ViewBag.Current == "Shifts" ? "arrow open" : "arrow")"></span>
                        </a>
                    </li>
                    <li class="@(ViewBag.Current == "Requests" ? "nav-item active open" : "nav-item") ">
                        <a href="@Url.Action("Index", "Requests", new { area = "Management" })" class="nav-link nav-toggle">
                            <i class="icon-shuffle"></i>
                            <span class="title">Requests</span>
                            @if (ViewBag.Current == "Requests")
                            {
                                <span class="selected"></span>
                            }
                            <span class="@(ViewBag.Current == "Requests" ? "arrow open" : "arrow")"></span>
                        </a>
                    </li>
                    <li class="@(ViewBag.Current == "Employees" ? "nav-item active open" : "nav-item") ">
                        <a href="@Url.Action("Index", "Users", new { area = "Management" })" class="nav-link nav-toggle">
                            <i class="icon-users"></i>
                            <span class="title">Employees</span>
                            @if (ViewBag.Current == "Employees")
                            {
                                <span class="selected"></span>
                            }
                            <span class="@(ViewBag.Current == "Employees" ? "arrow open" : "arrow")"></span>
                        </a>
                    </li>










                    <!-- KEEP BELOW LI TAGS FOR IF WE NEED TO UPDATE THE PRESENTATION TEMPLATE!!!! -->
                    @*<li class="@(ViewBag.Current == "Agenda" ? "nav-item active open" : "nav-item") ">
                            <a href="@Url.Action("Index", "Home", new { area = "" })" class="nav-link nav-toggle">
                                <i class="icon-calendar"></i>
                                <span class="title">Agenda</span>
                                @if (ViewBag.Current == "Agenda")
                                {
                                    <span class="selected"></span>
                                }
                                <span class="@(ViewBag.Current == "Agenda" ? "arrow open" : "arrow")"></span>
                            </a>
                        </li>
                        <li class="@(ViewBag.Current == "Problem" ? "nav-item active open" : "nav-item") ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-exclamation-triangle"></i>
                                <span class="title">Problem</span>
                                @if (ViewBag.Current == "Problem")
                                {
                                    <span class="selected"></span>
                                }
                                <span class="@(ViewBag.Current == "Problem" ? "arrow open" : "arrow")"></span>
                            </a>
                        </li>
                        <li class="@(ViewBag.Current == "Solution" ? "nav-item active open" : "nav-item") ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-check-square-o"></i>
                                <span class="title">Solution</span>
                                @if (ViewBag.Current == "Solution")
                                {
                                    <span class="selected"></span>
                                }
                                <span class="@(ViewBag.Current == "Solution" ? "arrow open" : "arrow")"></span>
                            </a>
                        </li>
                        <li class="@(ViewBag.Current == "Tech" ? "nav-item active open" : "nav-item") ">
                            <a href="@Url.Action("Index", "Requests", new { area = "Management" })" class="nav-link nav-toggle">
                                <i class="fa fa-code-fork"></i>
                                <span class="title">Technical Elements</span>
                                @if (ViewBag.Current == "Tech")
                                {
                                    <span class="selected"></span>
                                }
                                <span class="@(ViewBag.Current == "Tech" ? "arrow open" : "arrow")"></span>
                            </a>
                        </li>
                        <li class="@(ViewBag.Current == "Demo" ? "nav-item active open" : "nav-item") ">
                            <a href="@Url.Action("Index", "Users", new { area = "Management" })" class="nav-link nav-toggle">
                                <i class="fa fa-desktop"></i>
                                <span class="title">Demo</span>
                                @if (ViewBag.Current == "Demo")
                                {
                                    <span class="selected"></span>
                                }
                                <span class="@(ViewBag.Current == "Demo" ? "arrow open" : "arrow")"></span>
                            </a>
                        </li>
                        <li class="@(ViewBag.Current == "Conclusion" ? "nav-item active open" : "nav-item") ">
                            <a href="@Url.Action("Index", "Users", new { area = "Management" })" class="nav-link nav-toggle">
                                <i class="fa fa-calendar-check-o"></i>
                                <span class="title">Conclusion</span>
                                @if (ViewBag.Current == "Conclusion")
                                {
                                    <span class="selected"></span>
                                }
                                <span class="@(ViewBag.Current == "Conclusion" ? "arrow open" : "arrow")"></span>
                            </a>
                        </li>
                        <li class="@(ViewBag.Current == "Questions" ? "nav-item active open" : "nav-item") ">
                            <a href="@Url.Action("Index", "Users", new { area = "Management" })" class="nav-link nav-toggle">
                                <i class="fa fa-question"></i>
                                <span class="title">Questions</span>
                                @if (ViewBag.Current == "Questions")
                                {
                                    <span class="selected"></span>
                                }
                                <span class="@(ViewBag.Current == "Questions" ? "arrow open" : "arrow")"></span>
                            </a>
                        </li>*@



                </ul>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="page-footer text-center">
        <div class="page-footer-inner">
            2017 &copy; Sched-Bot
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    
    
    
    
    
    
    
    
    <!-- ************************************* New Shift Modal Start ***************************************** -->
        @*@Html.Partial("~/Areas/Management/Views/Shifts/NewShiftModalPartial.cshtml")*@

        <!-- ************************************* New Shift Modal End ***************************************** -->
        
        <!-- ************************************* New Role Modal Start ***************************************** -->
        @Html.Partial("~/Areas/Management/Views/Shifts/NewRoleModalPartial.cshtml")

        <!-- ************************************* New Role Modal End ***************************************** -->
        
        
        <!-- ************************************* New Scheduled Shift Modal Start ***************************************** -->
        @Html.Partial("~/Areas/Management/Views/Schedules/NewScheduledShiftModal.cshtml")

        <!-- ************************************* New Scheduled Shift Modal End ***************************************** -->
        
        
        
        
        
        
        
        
        
        
        
        
       

    
    
    
    
    
    
    
    

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-switch.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/sweetalert2.js"></script>
    <script src="~/Scripts/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/fullcalendar.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/calendar.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/app.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/ui-blockui.min.js"></script>

    <script src="@Url.Content("~/Scripts/layout.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/demo.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/quick-sidebar.min.js")" type="text/javascript"></script>
    
    <script src="~/Scripts/TimePicker/picker.js"></script>
<script src="~/Scripts/TimePicker/picker.time.js"></script>
    
</body>

</html>

<script>

    $(document).ready(function () {

        $('#addEmployeeQuickLink').click(function () {
            $('#addEmployeeModal').modal('show');

        });
        
        $('#addShiftQuickLink').click(function () {
            $('#shiftNewModal').modal('show');
            removeDisabledAttFromTimePickers();

            fixTimepickerScrollbar();

        });

        
        $('#addRoleQuickLink').click(function () {
            $('#roleNewModal').modal('show');

        });
        
        
        
        
        
        
        $('#newRoleSubmit').click(function () {
        
        var model_to_update = $('#newRoleForm');
            var userId = $('#user_UserId').val();

        console.info("Inside new role submit click...", model_to_update.serialize());
        console.log(location);
        
        
        $.ajax({
            url: '@Url.Action("Create", "JobRoles")'
            , type: "POST"
            , data: model_to_update.serialize()
            , success: function (response) {
                $('#roleNewModal').modal('toggle');
                
                swal({
          title: 'Success!',
          text: "Role was successfully added",
          type: 'success',
          showCancelButton: false,
          confirmButtonText: 'OK',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger',
          buttonsStyling: false
        }).then(function () {
          location.reload();    
        }, function (dismiss) {
          // dismiss can be 'cancel', 'overlay',
          // 'close', and 'timer'
          if (dismiss === 'cancel') {
            //hook in way to clear data
          }
        })
                                
            }
            , error: function (response) {
                $('#roleNewModal').modal('toggle');
                //sweetAlert("Oops...", "Something went wrong!", "error");
                
                swal({
          title: 'Oops...',
          text: "Something went wrong! Would you like to return to the modal?",
          type: 'error',
          showCancelButton: true,
          confirmButtonText: 'Yes, return to modal',
          cancelButtonText: 'No, cancel',
          confirmButtonClass: 'btn btn-primary margin-right-10',
          cancelButtonClass: 'btn btn-danger',
          buttonsStyling: false
        }).then(function () {
          $('#roleNewModal').modal('toggle');
        }, function (dismiss) {
          // dismiss can be 'cancel', 'overlay',
          // 'close', and 'timer'
          if (dismiss === 'cancel') {
            //hook in way to clear data
          }
        })
                
            }
        });
        
        
    });
        
        
        
        
        
        $('#newShiftSubmit').click(function () {
        
        var model_to_update = $('#newShiftForm');
            var userId = $('#user_UserId').val();

        console.info("Inside new shift submit click...", model_to_update.serialize());
        console.log(location);
        
        
        $.ajax({
            url: '@Url.Action("Create", "Shifts")'
            , type: "POST"
            , data: model_to_update.serialize()
            , success: function (response) {
                $('#shiftNewModal').modal('toggle');
                
                swal({
          title: 'Success!',
          text: "Your shift was successfully added",
          type: 'success',
          showCancelButton: false,
          confirmButtonText: 'OK',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger',
          buttonsStyling: false
        }).then(function () {
          location.reload();    
        }, function (dismiss) {
          // dismiss can be 'cancel', 'overlay',
          // 'close', and 'timer'
          if (dismiss === 'cancel') {
            //hook in way to clear data
          }
        })
                                
            }
            , error: function (response) {
                $('#shiftNewModal').modal('toggle');
                //sweetAlert("Oops...", "Something went wrong!", "error");
                
                swal({
          title: 'Oops...',
          text: "Something went wrong! Would you like to return to the modal?",
          type: 'error',
          showCancelButton: true,
          confirmButtonText: 'Yes, return to modal',
          cancelButtonText: 'No, cancel',
          confirmButtonClass: 'btn btn-primary margin-right-10',
          cancelButtonClass: 'btn btn-danger',
          buttonsStyling: false
        }).then(function () {
          $('#shiftNewModal').modal('toggle');
        }, function (dismiss) {
          // dismiss can be 'cancel', 'overlay',
          // 'close', and 'timer'
          if (dismiss === 'cancel') {
            //hook in way to clear data
          }
        })
                
            }
        });
        
        
    });
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        $('#timepicker').pickatime({
        containter: '#shiftNewModal',
        min: [7, 0],
        max: [23, 0],
        interval: 15
    });

    $('#timepicker2').pickatime({
        containter: '#shiftNewModal',
        min: [7, 0],
        max: [23, 0],
        interval: 15
    });
        
        

    });
    
</script>

<script>

    $(document).ready(function () {

        $('#logOutBtn').click(function () {
            $('#logOutSubmit').click();

        });


    });

</script>