@using SchedBot.Models
@using SchedBot.Helpers
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    ViewBag.Current = "Log in";
    Layout = null;
}

@*
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
    *@


<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>Sched-Bot Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    @*Added global css files to bundler*@
    @Styles.Render("~/Content/Login/css")
    @Scripts.Render("~/bundles/modernizr")

   
 
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
@if (ViewData.ModelState["errors"] != null)
{
    @SchedBot.Helpers.HtmlHelper.AlertError(@ViewData.ModelState["errors"].Errors);
}

<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="#">
            <img src="~/Content/images/SchedBot_Logo_400.png" alt="Sched-Bot Logo" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="form-title font-green">Sign In</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <!--<input class="form-control form-control-solid placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="email" />-->
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = "Email", type = "email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                @*<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />*@
                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = "Password", type="password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            </div>
            <div class="form-actions">
                <input type="submit" value="Log in" class="btn green uppercase" />
                @*<button type="submit" class="btn green uppercase">Login</button>*@
                @*<label class="rememberme check">
                    <input type="checkbox" name="remember" value="1" />Remember
                </label>*@
               
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                  
                    @*<a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>*@

                    @Html.ActionLink("Forgot password?", "ForgotPassword")
</div>
            <div class="create-account">

                <p class="uppercase">
                    @Html.ActionLink("Create an Account", "Register")
                </p>
                @*<p>
                    <a href="javascript:;" id="register-btn" class="uppercase">Create an account</a>
                </p>*@
            </div>
        }
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="index.html" method="post">
            <h3 class="font-green">Forget Password ?</h3>
            <p> Enter your e-mail address below to reset your password. </p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="email" />
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default">Back</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        <form class="register-form" action="index.html" method="post">
            <h3 class="font-green">Sign Up</h3>
            <p class="hint"> Enter your personal details below: </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">First Name</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="First Name" name="firstname" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Last Name</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Last Name" name="lastname" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Address</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Address" name="address" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">City/Town</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="City/Town" name="city" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Zip Code</label>
                <input class="form-control placeholder-no-fix" type="text" maxlength="5" placeholder="Zip Code" name="zipCode" />
            </div>
            <p class="hint"> Enter your account details below: </p>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control placeholder-no-fix" type="email" placeholder="Email" name="email" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword" />
            </div>
            <div class="form-actions">
                <button type="button" id="register-back-btn" class="btn btn-default">Back</button>
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->
    </div>
    <div class="copyright"> 2017 © Sched-Bot </div>
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/Scripts/select2.full.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->

    @* TODO: This hid the Remember me check box. Investigate farther what else this script does  *@
    @*<script src="~/Scripts/app.min.js" type="text/javascript"></script>*@ 
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @*TODO: This is verification of the login screen is not needed because ASP>NEt will handle verification. Check if this does anything else*@
    @*<script src="~/Scripts/login.min.js" type="text/javascript"></script>*@
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>