@model SchedbotDTOs.User_Shift_Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User_Shift_Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Schedule.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shift.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shift.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
