@model IEnumerable<SchedbotDTOs.User_Shift_Schedule>

@{
    ViewBag.Title = "SchedBot - Schedules";
    ViewBag.Current = "Schedules";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shift.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@





<link href="~/Content/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/clockface.css" rel="stylesheet" type="text/css" />

<div class="col-md-12 col-sm-12">
    <div class="portlet box grey-mint">
        <div class="portlet-title">
            <div class="caption">Schedule</div>
        </div>
        <div class="portlet-body table-responsive">
            <div class="col-md-12 col-sm-12 margin-bottom-15 well">
                <form class="form-horizontal">
                    <div class="col-md-3">
                        <div class="col-md-3 control-label">Dates:</div>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option disabled></option>
                                <option value="0" selected>3/5/17 - 3/11/17</option>
                                <option value="1">3/5/17 - 3/11/17</option>
                            </select>
                            <!--
                                                    <div class="input-group" id="defaultrange" name="daterange" >
                                                        <input type="text" class="form-control" name="daterange"/>
                                                        <span class="input-group-btn"><button class="btn btn-default date-range-toggle" name="daterange"><i class="fa fa-calendar"></i></button></span>
                                                    </div>
                            -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-3 control-label">Employee:</div>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option disabled></option>
                                <option value="0" selected>Andrew Barker</option>
                                <option value="1">Ahmad Nassar</option>
                            </select>
                            <!--
                                                    <div class="input-group" id="defaultrange" name="daterange" >
                                                        <input type="text" class="form-control" name="daterange"/>
                                                        <span class="input-group-btn"><button class="btn btn-default date-range-toggle" name="daterange"><i class="fa fa-calendar"></i></button></span>
                                                    </div>
                            -->
                        </div>
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-outline yellow-lemon">View Schedule</button>
                    </div>
                </form>
            </div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-md-2">Employee</th>
                        <th class="col-md-2">Day</th>
                        <th class="col-md-2">Time Start</th>
                        <th class="col-md-2">Time End</th>
                        <th class="col-md-2">Shift Role</th>
                        <th class="col-md-2 text-center">Actions</th>
                    </tr>
                </thead>
                <tbody
                       @foreach (var scheduledShift in Model)
                       {
                           <tr>
                               <td class="col-md-2">@(scheduledShift.User.FirstName + " " + scheduledShift.User.LastName)</td>
                               <td class="col-md-2">@(scheduledShift.Shift.Day)</td>
                               <td class="col-md-2">@(scheduledShift.Shift.Start)</td>
                               <td class="col-md-2">@(scheduledShift.Shift.End)</td>
                               <td class="col-md-2">@(scheduledShift.Shift.JobRole.Name)</td>
                               <td class="col-md-2 text-center"><span class="btn-group btn-group-xs"><button class="btn btn-outline blue-sharp"><i class="fa fa-edit"></i></button><button class="btn btn-outline red"><i class="fa fa-trash"></i></button></span></td>
                           </tr>
                       }
                    @*<tr>
                        <td class="col-md-2">Mark Jones</td>
                        <td class="col-md-2">Monday</td>
                        <td class="col-md-2">8:30 a.m.</td>
                        <td class="col-md-2">4:30 p.m.</td>
                        <td class="col-md-2">Line Cook</td>
                        <td class="col-md-2 text-center"><span class="btn-group btn-group-xs"><button class="btn btn-outline blue-sharp"><i class="fa fa-edit"></i></button><button class="btn btn-outline red"><i class="fa fa-trash"></i></button></span></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Trevor Smith</td>
                        <td class="col-md-2">Monday</td>
                        <td class="col-md-2">10:00 a.m.</td>
                        <td class="col-md-2">6:00 p.m.</td>
                        <td class="col-md-2">Dish Washer</td>
                        <td class="col-md-2 text-center"><span class="btn-group btn-group-xs"><button class="btn btn-outline blue-sharp"><i class="fa fa-edit"></i></button><button class="btn btn-outline red"><i class="fa fa-trash"></i></button></span></td>
                    </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/daterangepicker.js" type="text/javascript"></script>
@*<script src="~/Scripts/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/clockface.js" type="text/javascript"></script>*@
@*<script src="../assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>*@

@*@Scripts.Render("~/Scripts/Schedules")*@
<script>
    $('input[name="daterange"]').daterangepicker();
    $('button[name="daterange"]').click(function () {
        $('input[name="daterange"]').trigger("click");
    });
</script>