@model List<SchedbotDTOs.User_Shift_Schedule>
@using SchedBot.Helpers;
<table id ="schedTable" data-request-url="@Url.Action("LoadScheduleTable","Schedules",new { Area = "Management"})" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Day</th>
            <th>Time Start</th>
            <th >Time End</th>
            <th >Shift Role</th>
            @if (User.IsInRole("Manager"))
            {
                <th class="col-md-2 text-center">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var scheduledShift in Model)
        {
        <tr>
            <td>@(scheduledShift.User.FirstName + " " + scheduledShift.User.LastName)</td>
            <td>@(scheduledShift.Shift.Day)</td>
            <td>@(Helper.TimeSpanToString(scheduledShift.Shift.Start))</td>
            <td>@(Helper.TimeSpanToString(scheduledShift.Shift.End))</td>
            <td>@(scheduledShift.Shift.JobRole.Name)</td>
            @if (User.IsInRole("Manager"))
            {
                <td class="text-center"><span class="btn-group btn-group-xs"><button class="btn btn-outline blue-sharp"><i class="fa fa-edit"></i></button><button class="btn btn-outline red"><i class="fa fa-trash"></i></button></span></td>
            }
        </tr>
        }
    </tbody>
</table>

